// hide while building

header img,
.banner,
#travel-inquery-form,
// #requested-travel-services,
#confirm-details,
footer,
// .tab-content-rail,
// .tab-content-bus,
// .tab-content-visas

 {
	// display: none;
}


/**
 * @section Variables
 */


$white: #fff;
$black: #000;

$darkGrey: #b0b0b0;

$blue: #006FCF;
$lightBlue: #000;
$lighterBlue: #f0f0f0;
$darkBlue: #2196f3;

$red: #CF0000;
$textColor : #00175A;

// Media Query break points

$tablet: 768px;
$desktop: 1080px;
$full: 1480px;

$ipad-min: 768px;
$ipad-max: 1024px;

$ipadpro-min: 1024px;
$ipadpro-max: 1366px;

$ipad: ipads;
$ipads: ipads;



